.container {
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.product {
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;

}

.paginadoAbj {
  width: 100%;
  margin-top: 35px;
}

.paginadoAbj button {
  padding: 10px 15px;
  width: 50px;
  margin: 5px;
  border-radius: 1rem;
}

.activePage {
  background-color: yellow;
}

.paginadoAbj button:active {
  background-color: yellow;
}

.paginadoAbj button:focus {
  background-color: yellow;
}

.alert {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
  margin-top: 50px;
  background-color: transparent;
  font-size: 2rem;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 460px) {
  .container {
      justify-content: center;
      width: 75%;
      margin: 0;
  }
}
@media (max-width: 900px){
  .container{
    justify-content: space-around;
  }
}