.edit:hover {
    transform: scale(1.1);
}
.reactpaginate {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
  }
  
  .reactpaginate ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .reactpaginate li {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  
  .reactpaginate li.disabled {
    color: #999;
    cursor: not-allowed;
  }
  
 

 .busqueda{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
  
 }