.container {

    display: flex;
    flex-direction: column;
    height: 260px;
    width: 180px;
    border: 1px solid rgba(128, 128, 128, 0.205);
}

.img_container {
    height: 65%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

}

.porcentaje {
    color: black;
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgb(170, 170, 0);
    position: relative;
    background-color: var(--yellow-color);
    width: 60px;
    left: 108px;
    bottom: 12px;
}

.texto {
    display: flex;
    flex-direction: column;
    height: 35%;
    color: var(--black-color);
    font-weight: 400;
}

.nombre {
    margin: 0;
    margin-bottom: 5px;
}


.precios {
    display: flex;
    align-items: center;
    justify-content: center;
}

.valor {
    text-decoration: line-through;
    font-size: 19px;
    margin: 0;
    color: rgba(0, 0, 0, 0.678);
}

.valor_descuento {
    color: var(--blue-color);
    font-size: 22px;
    margin: 0;
}

.descuento {
    width: 30%;
}



@media (min-width: 820px) {
    .container {
        height: 320px;
        width: 260px;
    }

    .container:hover {
        transition: 0.2s;
        transform: scale(1.05);
        z-index: 200;

    }

    .valor {
        font-size: 20px;
    }

    .valor_descuento {
        font-size: 24px;
    }

    .nombre {
        font-size: 18px;
    }

    .porcentaje {
        left: 140px;
        bottom: 12px;
        font-size: 18px;
    }
}