.container {
    /* background-color: white; */
    justify-content: center;
    align-content: center;
    display: flex;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(116, 116, 116, 0.548);
}

.formContainer {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 1.5rem;
    width: 400px;
    background-color:#f5f5f5;
    border: 2px solid #cacaca;

}

.formInput{
    width: 320px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    color: #555;
}


.botones {
    margin-top: 20px;
    margin-bottom: 0.20rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.botonLogin{
    width: 320px;
    font-weight: 600;
    height: 35px;
    margin-bottom: 25px;
    outline: 2px solid var(--yellow-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-top: 10px;
    border: 1px solid var(--yellow-color);
    padding: 10px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.or{
    margin: 30px;
}

.boton {
    width: 150px;
    outline: 2px solid var(--yellow-color);
    border: none;
    font-weight: 600;
    border-radius: 5px;
    height: 30px;
}
.boton:hover {
    transition: 0.1s;
    transform: scale(1.05);
}

.botonRedes {
    font-weight: 600;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.btnRedes {
    width: 26px;
    height: 26px;
    object-fit: cover;
    transition: 0.1s;
}

/* .botonRedes:hover {
    transform: scale(1.1);
    background-color: rgb(230, 230, 230);
} */
