  .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 90px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.contenedor2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f5f5;
    flex-direction: row;
  }
.labels {
    font-size: large;
    margin-top: 15px;
}
.labels, h3 {
  color: #333;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.inputs {
    margin-top: 5px;
    font-size: larger;
    width: 350px ;
    border-radius: 5px;
    height: 2.5rem;
}

.descripcion {
    font-size: large;
    width: 350px;
    height: 4rem;
    border-radius: 5px;
}
.inputs, .descripcion {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}
.inputs:focus, .descripcion:focus {
  outline: none;
  /* border-bottom: 2px solid var(--yellow-color); */
}

.publicar{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: large;
    border-radius: 1rem;
    width: 200px;
    height: 2.5rem;
    background-color: var(--yellow-color);
    color: #000000;
    text-decoration:double;
}

.imbutton{
    width: 150px;
}

.fechas {
    display: flex;
    justify-content: center;
}

.nombres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.apellidos{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.contenedorDiv{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imageFile {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    object-fit: cover;
}

.errors {
    font-family: sans-serif;    
    color: #ff0000;
    font-size: 14px;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  padding: 1rem;
  margin-left: 20px;
  margin-top: 200px;
  width: 280px;
  border-radius: 1.75rem;

}

.img img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}
input[type="file"]::-webkit-file-upload-button {
  background-color: #f5f5f5;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="file"]::-moz-file-upload-button {
  background-color: #f5f5f5;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  background-color: var(--yellow-color);
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


