.contenedor {
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 0px;
    margin: 35px;
    border-radius: 1.25rem;
    background-color: var(--blue-color);

  }
  
  .formcontainer {
    border-radius: 10px;
        display: flex;
      align-items: center;
  flex-wrap: wrap;
  justify-content:center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;

  }
  .imageFile {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 180px;
    height: 130px;
    width: 130px;
    margin-top: 10px;
    object-fit: cover;
}
  
  .forminput {
    border: none;
    box-shadow: 0px 0px 5px #000000; /* Resaltar el campo activo con un borde amarillo */
    margin-left: 70px;
    margin-right: 70px;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
    width: 365px;
    border-radius: 5rem;
    background-color: #f5f5f5; /* Fondo gris claro para los campos de entrada */
  }
  
  .forminput:focus {
    outline: none;
    box-shadow: 0px 0px 5px #ffca28; /* Resaltar el campo activo con un borde amarillo */
  }
  
  .label {
    color: #ffffff; /* Texto gris oscuro para las etiquetas */
    display: block;
    margin-bottom: 10px;
  }
  
  .errors {
    color: rgb(0, 0, 0); /* Texto rojo para los mensajes de error */
    margin-bottom: 20px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,202,40,1) 25%, rgba(255,202,40,1) 75%, rgba(0,0,0,0) 100%);
    width: 365px;
    /* box-shadow: 0px 0px 5px rgb(0, 0, 0); Resaltar el campo activo con un borde amarillo */

  }

  .ok {
    color: green;
    margin-bottom: 20px;
    width: 25px;
    border-radius: 1em;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px greenyellow; /* Resaltar el campo activo con un borde amarillo */

  }
  
  .button[type="submit"] {
    background-color: #2196f3; /* Fondo azul para el botón de enviar */
    border: none;
    border-radius: 5px;
    width: 365px;

    color: #fff; /* Texto blanco para el botón de enviar */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button[type="submit"]:hover {
    background-color: #ffca28; /* Cambiar el fondo del botón a amarillo al pasar el cursor */
    color: #000000;
  }
  
  .contenedorForm{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #97978D;
    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.nombres{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
}

.apellidos{
    display: flex;
    flex-direction: row;
    justify-content: center
}

.contenedorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-size: 20px;
    margin: 0;
}
