.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.formcontainer{
    margin-top: 20px;
    margin-bottom: 20px
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #97978D;
    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

.contenedorDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs{
    width: 410px;
    font-size: large;
    padding: .5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1rem;
}

.inputs::placeholder{
    font-size: large;
    color: black;
}


.actualizar{
    margin-top: 20px;
    border-radius: 15rem;
    border: none; 
    padding: 5px;
    background-color: var(--yellow-color);
    color: aliceblue;  
    font-size: 17.5px;  
    width: 250px;
}


.label{
    font-size: 20px;
}

.imageFile {
    margin-top: 10px;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
}

.errors {
    font-family: sans-serif;    
    color: #ff0000;
    font-size: 15px;
}


 
