.errors {
    margin-top: 7.5px;
    font-family: sans-serif;
    background-color: yellow;
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
}

.cerrar {
    position: relative;
    font-size: 11px;
    left: 155px;
    font-size: xx-large;
    border-radius: 1rem;
    background-color: #d30505;
}

.cerrar:hover {
    background-color: #ff0000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 375px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 200;
    background-color: var(--blue-color);
    box-shadow: 0px 0px 120px rgb(0, 0, 0);
    outline: 1px solid rgb(0, 0, 0);
    border-radius: 2.5rem;
}

.ocultar {
    display: none;
}

.label{
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.icon{
    color: white;
    margin-top: 15px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.input{
    padding-left: 0.75rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-right: 0.75rem;
    width: 350px;
    font-size: x-large;
    border-radius: 5rem;
}

.actualizar{
    font-size: larger;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: var(--blue-color);
    background-color: #00e61f;
    color: white;
    border-radius: 5rem;
}