.contenedor {
  min-height: 60vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

table {
  margin-top: 20px;
}

table {
  margin-top: 20px; 
}

.delete {
  cursor: pointer;
  transition: all 0.2s;
}

.delete:hover {
  transform: scale(1.1);
}


.paginadoAbj {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.paginadoAbj button {
  padding: 10px 15px;
  width: 40px;
  margin: 5px;
  border-radius: 10%;
}

.activePage {
  background-color: rgb(0, 0, 0);
  color: white;
}

.paginadoAbj button:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.paginadoAbj button:hover {
background-color: beige;
}


.miTabla{
  width: 100%;
}
