.contenedor{
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 120px;
}

.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
   box-shadow: 0px 0px 25px rgb(0, 0, 0);
    margin-top: 115px;
    margin-bottom: 55px;
    padding: 20px;
    border: 5px black solid;
    border-radius: 20px;
    width: 90%;
    background-color: white;
    height: fit-content;

}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-color);
    width: 100%;
    color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
}

.detalle{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 3px var(--blue-color) solid;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}

.columna{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}

.img{
    width: 100px;
    margin-right: 40px;
}

.aux{
    display: flex;
    font-size: medium;
    margin-top: 22px;
    width: 200px;
    margin: 15px;
}

.link{
    display: flex;
    color: #97978d;
    text-decoration: none;
}

.divcom{
    height: 50px;
    width: 50px;
}

.coment{
    height: 40px;
    width: 40px;
}

.combut{
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2.5px;
    width: 50px;
    height: 50px;
}

.combut:hover{
    background-color: var(--blue-color);
}

.combut:active{
    background-color: yellow;
}
