.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.formContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 70%;
  max-width: 600px;
  margin-bottom: 25px;
  margin-top: 85px;
}

.formlabel {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.forminput {
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

.forminput:focus {
  outline: none;
  /* border-color: #888; */
}

.errors {
  font-family: sans-serif;    
  color: #ff0000;
  font-size: 14px;
}

.eliminar {
  background-color: #e74c3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;  
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 20px;
}
.restaurar{
  background-color: #00f721;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;  
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 20px;
}

.eliminar:hover {
  background-color: #c0392b;
}

button[type="submit"] {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px 20px;
  margin-left: 15px;
  margin-right: 15px;
}

button[type="submit"]:hover {
  background-color: var(--yellow-color);
}

.imageFile {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  /* border: 5px solid #fff; */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}