.container {
    margin-top: 90px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vacio {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 50px;
}
.containerTotal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.total{
    background-color: var(--blue-color);
    width: 95%;
    align-items: center;
    justify-content:space-around;
    border-radius: 1rem;    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    margin: 30px;
    padding: 10px;
    display: flex;
    border: solid 1px rgb(200, 197, 197);
}

.foot{
    width: 400px;
}

.titulo {
    background-color: var(--blue-color);
    width: 95%;
    color: white;
    padding: 5px;
    font-size: 25px;
    border-radius: 1rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45vh;
    margin-top: 20px;
    margin-bottom: 140px;
    border: solid 1px rgb(154,154,154);
    background-color: white;
    font-size: 20px;
}