.ventas_table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.ventas_table th,
.ventas_table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ventas_table th {
  background-color: #f2f2f2;
}

.ventas_table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ventas_table tr:hover {
  background-color: #ddd;
}



.paginadoAbj {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}

.paginadoAbj button {
  padding: 10px 15px;
  width: 40px;
  margin: 5px;
  border-radius: 10%;
}

.activePage {
  background-color: rgb(0, 0, 0);
  color: white;
}

.paginadoAbj button:active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.paginadoAbj button:hover {
background-color: beige;
}

 

 